.cart-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem min(1rem, 1.5vw) 0;
}

.cart-title-li {
  list-style: circle;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  padding-left: 0.5rem;
}

.cart-product-table {
  width: 100%;
}

.cart-container table {
  --cart-row-padding: 0.8rem;
  border-collapse: collapse;
  text-align: left;
  font-size: 0.7rem;
}

.cart-container th {
  font-size: 0.92em;
  font-weight: 400;
  padding-bottom: var(--cart-row-padding);
  text-align: center;
}

.cart-container td {
  --cart-border: 1px solid black;
  border-top: var(--cart-border);
  border-bottom: var(--cart-border);
  padding: var(--cart-row-padding) 0.25rem;
}

.cart-container th:first-child {
  padding-left: 1rem;
  text-align: left;
}

.cart-product-photo-td {
  width: 5rem;
}

.cart-product-photo {
  display: block;
  width: 100%;
}

.cart-container .cart-table-td-name {
  width: auto;
  padding-left: min(1rem, 2vw);
}

.cart-container .cart-table-td-price,
.cart-container .cart-table-td-sum {
  font-size: 1.25em;
  font-weight: 700;
}

.cart-table-th-qty-mobile,
.cart-table-th-qty {
  white-space: nowrap;
}

.cart-table-th-qty {
  display: none;
}

td.cart-table-td-qty {
  text-align: center;
}

.cart-table-th-sum,
.cart-table-td-sum {
  display: none;
}

@media (min-width: 500px) {
  .cart-title-li {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  .cart-container table {
    font-size: 0.85rem;
  }

  .cart-table-th-qty-mobile {
    display: none;
  }

  .cart-table-th-qty {
    display: inline;
  }
}

@media (min-width: 760px) {
  .cart-container table {
    font-size: 0.9rem;
  }

  .cart-product-photo-td {
    width: 6rem;
  }

  .cart-table-th-sum,
  .cart-table-td-sum {
    display: table-cell;
  }
}

/* Quantity input and buttons */
.cart-quantity-input-container {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-quantity-input {
  height: var(--button-height);
  font-size: 1em;
  width: auto;
  max-width: min(50px, 9vw);
  text-align: center;
}

.cart-quantity-input-container button {
  border: none;

  cursor: pointer;
  min-height: var(--button-height);
  text-transform: none;
}

.cart-plus-btn,
.cart-minus-btn {
  --margin-plus-minus-btn: 0.3rem;
  background-color: white;
  font-size: 1.7em;
  font-weight: 300;
  padding: 0 0.6rem;
  margin: var(--margin-plus-minus-btn) 0;
}

.cart-add-to-cart-btn {
  font-size: 0.7rem;
  padding: var(--padding-inside-input);

  flex: 1 1 50%;
  background-color: #2d2d2d;
  color: #f4f4f4;
  margin-left: 0.5rem;
} /* END OF Quantity input and buttons */
