/* FOOTER */
/* ------ */

.app-footer {
  font-size: min(0.8rem, 4vmin);
  margin-top: 1.3rem;
  margin-bottom: 0.7rem;
  height: auto;

  background-color: #f5f5f5;
  border-top: 1px solid rgb(169, 169, 169);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-footer * {
  text-align: center;
  margin-top: 0;
}

.app-footer-nav,
.app-footer-info {
  margin: 1rem 1rem;
}

.app-footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;
}

.app-footer-nav a {
  margin: 0.85rem 1rem;
  white-space: nowrap;
}

.app-footer hr {
  width: 55%;
  border-top: 1px solid black;
}

#app-footer-long-text {
  max-width: 550px;
  display: none;
}

#app-footer-email {
  font-size: min(1.1rem, 5.3vmin);
  font-weight: 700;
  margin-bottom: 1.6rem;
}

#app-footer-follow-us {
  font-size: min(1.2rem, 5.4vmin);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.app-footer-icon {
  line-height: 0;
  vertical-align: bottom;
  width: 1.1rem;
  height: 1.1rem;
  margin: 0 0.35rem;
}

@media (min-width: 700px) {
  .app-footer {
    margin-bottom: 0;
  }

  .app-footer-nav,
  .app-footer-info {
    margin: 1.5rem 1rem;
  }

  .app-footer-nav {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .app-footer-nav a {
    margin: 0.6rem 1rem;
  }

  .app-footer hr {
    width: 670px;
  }

  #app-footer-long-text {
    display: block;
  }
}
