.shop-product-card {
  width: 100%;
}

@media (min-width: 430px) {
  .shop-product-card {
    width: 50%;
  }
}

.shop-product-card .slide-image-container {
  margin: 0;
}

.shop-product-card .slide-image:hover {
  filter: none;
}
