/* shop-product */

.shop-product-card {
  --horizontal-margin: 0.9rem;
  --button-height: 50px;
  --padding-inside-input: 0.6rem;
  --small-text-size: 0.8rem;
  --margin-between-info-blocks: 1.75rem;

  text-transform: none;
  flex: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (min-width: 600px) {
  .shop-product-card {
    --button-height: 40px;
    --padding-inside-input: 0.85rem;
    --horizontal-margin: min(2rem, 7vw);
    --margin-between-info-blocks: 1rem;

    flex: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0.6rem;
  }
}

.shop-product-card .shop-price-from-span {
  font-size: var(--small-text-size);
}

@media (min-width: 430px) {
  .shop-product-card {
    width: 50%;
  }
}

.shop-product-card .slide-image-container {
  margin: 0;
}

.shop-product-card .slide-image:hover {
  filter: none;
}

.error-no-product-with-given-id {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.error-no-product-with-given-id hr {
  margin-top: 2rem;
}

.product-slider-and-thumbs-wrapper {
  display: flex;
  width: 100%;
  margin: 0;
}

/* Thumbs */
.product-slider-thumbs {
  display: none;
}
/*  */

/* product-slider */
.product-slider-container {
  flex: 0 1 100%;
  overflow: hidden;
}

/* product-info */
.product-info {
  margin: 0 var(--horizontal-margin);
  flex: 100%;
  max-width: 400px;
}

.product-info-label {
  margin: 1.4rem 0 0rem;
  font-weight: 400;
}

.product-info li {
  font-size: var(--small-text-size);
  margin-top: 0.2rem;
}

.product-info li span {
  position: relative;
  left: -0.2rem;
}

.product-info .price-element {
  margin: calc(var(--margin-between-info-blocks) - 0.3rem) 0 0;
}

.product-info .price-span {
  font-family: futura-pt, ProbaPro, ProbaPro-Regular;
  letter-spacing: 0.7px;
  font-weight: 700;

  font-size: min(25px, 8vh);
}

.product-info s span {
  font-family: futura-pt, ProbaPro, ProbaPro-Regular;
  letter-spacing: 0.7px;

  font-size: min(22px, 7vh);
}

.product-info .discounted-price {
  color: #bb1f2e;
}

.product-info summary {
  list-style: none;
  list-style-type: none;
}

.product-info summary * {
  text-decoration: underline;

  font-size: var(--small-text-size);
  cursor: pointer;
  margin-left: 0.25rem;
}
.product-info summary::-webkit-details-marker {
  display: none;
}

.add-to-cart-form {
  width: 100%;

  display: flex;
  justify-content: left;

  align-items: center;
}

.add-to-cart-form-wrapper {
  margin: var(--margin-between-info-blocks) 0;
}

.product-info-quantity-input {
  height: var(--button-height);
  width: 50px;
  font-size: 1.1rem;
  text-align: center;
}

.product-info button {
  border: none;

  cursor: pointer;
  min-height: var(--button-height);
  text-transform: none;
}

.product-info-plus-btn,
.product-info-minus-btn {
  --margin-plus-minus-btn: 0.3rem;
  background-color: white;
  font-size: 1.7rem;
  font-weight: 300;
  padding: 0 0.6rem;
}

.product-info-plus-btn {
  margin-right: var(--margin-plus-minus-btn);
}

.product-info-minus-btn {
  margin-left: var(--margin-plus-minus-btn);
}

.product-info-add-to-cart-btn {
  font-size: 0.7rem;
  padding: var(--padding-inside-input);

  flex: 1 1 50%;
  background-color: #2d2d2d;
  color: #f4f4f4;
  margin-left: 0.5rem;
}

.product-info-add-to-cart-btn.adding {
  background-color: rgb(95, 116, 93);
}

.product-info-add-to-cart-btn.just-added {
  background-color: rgb(37, 114, 31);
}

.product-info-choose-variations-alert {
  width: 100%;

  color: rgb(150, 28, 28);
  font-size: var(--small-text-size);
  margin-top: 0.35rem;

  text-align: center;
}

.product-info .product-info-size {
  margin-bottom: 0;
}

.product-info hr {
  margin-top: 2rem;
}

.product-description-header,
.product-description-p.short-description {
  text-align: center;
}

.product-description-header {
  margin-top: var(--margin-between-info-blocks);
  margin-bottom: var(--small-text-size);
}

/* VARIATIONS */
.product-info-variation {
  margin: var(--margin-between-info-blocks) 0;
}

.product-info-variation-summary {
  margin: 0.2rem 0;
}

.product-info-variation hr {
  margin: 0 0 0.5rem;
}

.product-info-variation-details-text {
  margin: 0.4rem 0;
}

.variation-label {
  font-weight: 600;
  margin: 0.5rem 0 0;
  margin-left: 0.25rem;
  font-size: 0.9rem;
}

.variation-select {
  margin: 0.35rem 0;
}

.variation-select select {
  padding: 0.5rem 0.5rem;

  /*  from bootstrap */
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: var(--small-text-size);
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
    no-repeat right 0.75rem center/8px 10px;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.product-info-variation-details-url {
  display: inline-block;
  font-size: 0.7rem;
  border: 1px solid grey;
  padding: 0.35rem 1rem;
  border-radius: 0.1rem;
}

.product-info-variation-details-url:hover {
  background-color: #f7f7f7;
  color: black;
}

/* END OF VARIATIONS */

@media (min-width: 600px) {
  .product-slider-and-thumbs-wrapper {
    margin: 0 var(--horizontal-margin) 0 0;
    flex: 0 1 50%;
    max-width: max(430px, 60vh);
    min-width: 300px;
    overflow: hidden;
    display: flex;
  }

  /* Thumbs */
  .product-slider-thumbs {
    flex: 0 0 min(3rem, 12%);

    display: flex;
    flex-direction: column;

    margin: 0 min(2rem, 2.5vw) 0 0;
  }

  .product-slider-thumb-image {
    width: 100%;
    cursor: pointer;

    margin-bottom: 1.3rem;
  }
  /*  */

  /* product-slider */
  .product-slider-container {
    flex: 0 1 100%;
    overflow: hidden;
  }

  /* product-info */
  .product-info {
    margin: 0 var(--horizontal-margin) 0 0;
    flex: 1 1 40%;
  }

  .product-info-label {
    margin-top: 0;
  }

  .product-info-quantity-input {
    width: min(50px, 5vw);
  }

  .product-info-plus-btn,
  .product-info-minus-btn {
    --margin-plus-minus-btn: 0.25rem;
    font-size: 1.7rem;
    padding: 0 0.5rem;
  }

  .product-info-add-to-cart-btn {
    margin-left: 0.5rem;
  }

  .product-description-header,
  .product-description-p.short-description {
    text-align: start;
  }
}
