@import '../../../styles/config.css';

/* First Screen */
.firstScreen {
  --first-screen-padding-bottom: min(40px, 8vh);
  transform: initial;
  height: 100vh;
  min-height: 35vw;

  display: flex;
  flex-direction: column;
  padding-bottom: var(--first-screen-padding-bottom);
  margin-bottom: calc(0px - var(--first-screen-padding-bottom) + var(--section-margin-bottom));
}

@media (min-width: 760px) {
  .firstScreen {
    --first-screen-padding-bottom: 0;
    margin-bottom: var(--section-margin-bottom);
  }
}

/* Logo */
.mainLogo {
  display: none;
}

@media (min-width: 760px) and (min-height: 500px) {
  .mainLogo {
    /* display: block; */
    display: inline-block;
    width: 30%;
    max-width: min(270px, 42vh);
    margin: 17px 0 28px;
    margin: 17px 0 min(28px, 3vh);
    cursor: pointer;
  }
}
