/* Slider */
.slider-container {
  width: 100%;
  margin: min(100px, 5vh) auto 20vmin;
  text-align: center;
}

.slider-title h3 {
  margin-bottom: 25px;
}

.slider-subtitle {
  margin: 12px 0 0;
  text-align: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* INSTA SLIDER */
/* ------------ */

.slider {
  width: 100%;
  height: max-content;
  padding: 0;

  overflow: hidden;
  display: flex;
  position: relative;
}

.slider * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider-movable-container {
  display: flex;

  transition: 0.3s;
}

.slide {
  transition: 0.3s;
  position: relative;
  overflow: visible;
}

.notransition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.slide-image-container {
  margin: 0 4%;

  position: relative;
}

@media (min-width: 1000px) {
  .slide-image-container {
    margin: 0 1.5%;
  }
}

.slide-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  transition: 0.1s;

  flex: 0 0;
}

.hoveron .slide-image:hover {
  filter: brightness(104%) opacity(85%) grayscale(5%);
}

.btn-slider {
  position: absolute;
  top: 0%;
  width: 8%;
  height: 100%;

  background: none;
  border: none;

  display: flex;
  align-items: center;

  cursor: pointer;
}

#insta-goLeft {
  left: 0;
}

#insta-goRight {
  right: 0;
  flex-direction: row-reverse;
}

.arrow-icon {
  max-width: 24px;
}
