.App * {
  font-family: ProbaPro, sans-serif;

  text-decoration: none;
  color: black;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.App {
  --color-dark: #2d2d2d;
  --section-margin-bottom: 5rem;
  text-transform: uppercase;
  background-color: white;
  margin: 0 auto;
  max-width: min(240vh, 2000px);
  /* max-width: 240vh; */
  min-height: 100vh;
  box-shadow: 0 0 30px rgb(39, 39, 39);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: static;
}

.overflow-hidden {
  overflow: hidden;
}

p {
  font-size: 0.8rem;
  letter-spacing: 0.03rem;
}

h3 {
  font-size: min(25px, 8vh);
  font-weight: 500;
}
h4 {
  font-size: min(22px, 6.5vh);
  font-weight: 500;
}
h5 {
  font-size: min(1.2rem, 5vh);
  font-weight: 500;
}

button {
  letter-spacing: 0.03rem;
}

hr {
  margin-top: 0;
}

del,
s {
  text-decoration: line-through !important;
}

.tab {
  padding-left: 1.5rem;
}

.nowrap {
  white-space: nowrap;
}

.btn {
  padding: 0.8rem 2rem;

  border: none;
  cursor: pointer;
}

.btn-black {
  background-color: rgb(53, 53, 53);
  color: white;
}

.btn-outline-white {
  border: solid 1px white;
  color: white;
}

.btn-link {
  height: auto;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  text-decoration: underline;
}

/* SrollToTop Button */
.scroll-to-top-button {
  position: fixed;
  z-index: 9999;
  bottom: 5vh;
  right: 5vh;

  width: 50px;
  height: 50px;

  background-color: #00000000;
  border: none;
  font-size: 3rem;
  cursor: pointer;
}

.scroll-to-top-button div {
  transform: rotate(45deg);

  width: 0.7rem;
  height: 0.7rem;

  border-top: solid black 2px;
  border-left: solid black 2px;
  margin: auto;
}

/* First Screen */
.first-screen {
  --first-screen-padding-bottom: min(40px, 8vh);
  height: 100vh;

  display: flex;
  flex-direction: column;
  padding-bottom: var(--first-screen-padding-bottom);
  margin-bottom: calc(0px - var(--first-screen-padding-bottom) + var(--section-margin-bottom));
}

@media (min-width: 760px) {
  .first-screen {
    --first-screen-padding-bottom: 0;
    margin-bottom: var(--section-margin-bottom);
  }
}
/* 
#first-screen-margin {
  width: 100%;
  height: 0;
  margin-top: min(40px, 10vh);
} */

/* Mobile menu */

/* MobileMenu */
.mobile-menu {
  position: fixed;
  min-width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(28, 28, 28, 0.96);
  z-index: 1000000;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: auto;
}

.mobile-menu-close {
  position: fixed;
  z-index: 1000000000;
  right: 1.75rem;
  top: 1rem;
  padding: 0 0 2rem 2rem;

  background-color: #00000000;
  border: none;

  font-weight: 300;
  color: white;
  text-transform: none;
  font-size: 1.5rem;
  line-height: 0.6;
  transform: scaleY(0.85);
  cursor: pointer;
}

.mobile-menu-nav {
  padding-top: 2rem;
  margin: auto;
  margin-bottom: 7rem;
}

.mobile-menu-item-div {
  padding-left: min(4em, 15vw);
}
.mobile-menu-item-div:hover {
  background-color: rgba(255, 255, 255, 0.097);
}

.mobile-menu-nav a {
  font-size: 1rem;
  display: block;
  font-weight: 300;
  line-height: 3.5rem;
  transition: color 0.2s, transform 0.4s;
  color: white;

  position: relative;
}

.mobile-submenu a {
  line-height: 2.6rem;

  text-transform: none;
  box-sizing: border-box;
  padding-left: 1em;
}

.mobile-menu-item-div {
  text-align: left;
}

.mobile-submenu a:first-child {
  margin-top: -0.3rem;
}

.mobile-menu-language-switcher {
  margin-top: 2rem;
}

.mobile-menu-language-switcher * {
  color: white;
  background-color: #00000000;
  border: none;
  padding: 0;
  font-weight: 300;
  font-size: 0.9rem;
}

.mobile-menu-language-switcher .separator {
  margin: 0 calc(0.8 * min(3px, 3vmin)) !important;
  font-size: calc(0.8 * min(27px, 14vh)) !important;
}

/* Navbar */
.navbar {
  --navbar-height: min(55px, 20vh, 25vw);
  --padding-right-left: min(1.2rem, 5vw);
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* 20vh is for mobile landscape view */
  height: var(--navbar-height);
  padding: 0 var(--padding-right-left);
}

.mobile-logo-container {
  display: flex;
  flex: 0 1 50%;
  margin: auto var(--padding-right-left) auto 0;
}
.mobile-logo-container a {
  line-height: 0;
}

.mobile-logo {
  max-height: min(33px, 10vh);
  max-width: 100%;
  cursor: pointer;
}

.navbar-items {
  display: flex;
  flex: 0 1 60%;

  align-items: stretch;
  justify-content: flex-end;
}

.navbar-item {
  flex: 0 1 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 min(9px, 6%);
}

.navbar-item:last-child {
  margin-right: 0;
}

.navbar-item a {
  line-height: 0;
}

.navbar-item button,
.hamburger-menu-item {
  cursor: pointer;
  font-size: min(20px, 10vh);
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 0;
  line-height: 1.2rem;
}

.navbar-icon {
  width: 100%;
  cursor: pointer;

  max-width: 19px;
}

.hamburger-menu-item {
  padding: 0;
  flex-basis: 23px;
}

.hamburger-menu-icon {
  width: 100%;
  max-width: 23px;
}

.language-switch {
  flex: 0 1 1px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* #user-account-navbar-item {
  position: relative;
} */

.user-account-panel {
  position: absolute;
  z-index: 99999;
  top: var(--navbar-height);
  /* top: 120%; */
  right: 10px;
  background-color: rgb(247, 247, 247);
  border: 1px solid black;
}

@media (max-width: 450px) {
  .language-switch.navbar-item {
    display: none;
  }
}

.language-switch .separator {
  margin: 0 min(3px, 3vmin);
  font-size: min(27px, 14vh);
  cursor: auto;
  pointer-events: none;
}

/* </ Navbar> */

/* Popup menu */
.popup-menu {
  display: none;
}

/* Logo */
.main-logo {
  display: none;
}

/* Menu */
.menu {
  display: none;
}

@media (min-width: 760px) and (min-height: 500px) {
  /* Navbar */
  .hamburger-menu-item {
    display: none;
  }

  /* Menu */
  .menu {
    --menuLinkPaddingVertical: min(10px, 2vmin);
    --menuLinkPaddingHorizontal: min(23px, 8vmin);
    font-size: min(0.8rem, 4vmin);
    padding: 20px 3vw;

    display: flex;
    justify-content: center;
    background-color: white;
    flex-wrap: wrap;
    font-weight: 300;
    letter-spacing: 0.2px;
  }

  .menu * {
    text-transform: uppercase;
  }

  .menu-fixed {
    position: fixed;

    width: 100%;
    z-index: 1000;
    padding: 4px 3vw;

    transition: 0.4s;
    top: 0;
  }

  .menu-fixed-hidden {
    visibility: hidden;
    transform: translateY(-100%);
  }

  .menu-link-div {
    position: relative;
    margin: var(--menuLinkPaddingVertical) 0;
  }

  .menu-link-div a {
    white-space: nowrap;
  }

  .menu-item-dropdown {
    display: none;
    padding: 10px 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.25s linear;

    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: 9999;
  }

  .menu a,
  .menu button {
    padding: 0 var(--menuLinkPaddingHorizontal);
    margin: 0.5px 0;
    background-color: white;
  }

  .menu button {
    border: 0;
    font-weight: 300;
  }

  .hoveron .menu a:hover {
    transition: 0.2s;
    color: rgb(133, 133, 133);
  }

  .hoveron .menu-item-dropdown a:hover {
    color: rgb(233, 233, 233);
  }

  .menu-item-dropdown a,
  .menu-item-dropdown button {
    padding: var(--menuLinkPaddingVertical) var(--menuLinkPaddingHorizontal);
    font-size: min(12px, 3.7vmin);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.335);
  }

  .menu-item-dropdown a:hover {
    transition: 0.2s;
    color: white;
    background-color: rgba(74, 87, 95, 0.931);
  }

  .menu-link-div.show-dropdowns:hover .menu-item-dropdown,
  a:focus ~ .menu-item-dropdown,
  button:focus ~ .menu-item-dropdown,
  .menu-item-dropdown:focus-within {
    width: initial;
    overflow: visible;
    opacity: 1;
  }
}

/* Banner */
.banner-container {
  max-height: 150vw;
  flex-basis: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(./assets/images/banner/main-banner.png);
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.banner-text-container {
  margin: min(2rem, 5vh) 0;
  padding: 1.1rem;
  text-shadow: 0px 0px 8px black;
}

.banner-text {
  font-size: min(2rem, 6.4vh);
  text-align: center;
  margin: 0;

  font-weight: 200;
  text-transform: uppercase;
  color: white;
}

.banner-text-small {
  font-size: min(1.13rem, 3.6vh);
  text-align: center;
  margin-top: 6px;

  font-weight: 200;
  text-transform: uppercase;
  color: white;
}

.banner-button {
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: 300;
  font-size: min(0.75rem, 3vh);
  height: auto;
  background-color: rgba(0, 0, 0, 0.175);
  border: white solid 1px;
  color: white;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.672);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.638);
}

.hoveron .banner-button:hover {
  background-color: rgba(0, 0, 0, 0.344);
}

/* MAIN SLIDER */

.slider-container {
  width: 100%;
  margin: min(100px, 5vh) auto var(--section-margin-bottom);
  text-align: center;
}

.slider-title h3 {
  margin-bottom: 25px;
}

.main-slider-subtitle-wrapper {
  margin: 12px 0 0;
  font-size: min(1.2rem, 5vh);
  font-weight: 500;
  text-align: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 700px) {
  .main-slider-subtitle-wrapper {
    font-size: 0.9rem;
  }
}

/* SECTIONS */
/* ------------- */

@media (min-width: 1030px) {
  .first-screen-margin {
    margin-top: 0px;
  }
}

.sections {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: flex-start;
}

.section {
  text-align: center;
  margin: 0 0 2rem;
}

@media (min-width: 450px) {
  .sections {
    padding: 0 4rem 4rem;
  }
  .section {
    flex: 100%;
  }
}

@media (min-width: 450px) and (orientation: landscape) and (max-width: 760px) {
  .sections {
    padding: 0 2rem 2rem;
    flex-direction: row;
  }
  .section {
    flex: 1 0 30%;
    margin: 0 0.7rem 1.5rem;
  }
  .section * {
    font-size: 0.7rem;
  }
  .section .section-btn {
    height: auto;
    padding: 0.45rem 0.9rem;
    font-size: 0.58rem;
  }
}
/* 
@media (min-width: 760px) {
  .sections {
    padding: 0 1rem 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .section {
    flex: 0 1 240px;
    margin: 0.7rem;
  }
} */

@media (min-width: 760px) {
  .sections {
    padding: 0 1.5rem 1.5rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section {
    flex: 0 1 310px;
    margin: 0 1rem 1.5rem;
  }
  .section .section-btn {
    height: initial;
  }
}

@media (min-width: 1000px) {
  .sections {
    padding: 0 4rem 4rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section {
    flex: 0 1 350px;
    margin: 0 1.5rem 1.5rem;
  }
}

.section-photo-container {
  position: relative;
}

.section-foreground {
  padding: 1.5rem;
  position: absolute;
  width: 100%;
  height: 100%;
}

.hoveron .section-foreground {
  background-color: rgba(0, 0, 0, 0.392);
  visibility: none;
  opacity: 0;
  transition: 0.3s;
}

.hoveron .section-foreground:hover {
  opacity: 1;
  visibility: visible;
}

.section-btn {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  transition: 0.3s;
  border: white solid 1px;
  background-color: rgba(0, 0, 0, 0.13);
  width: 80%;
  color: rgb(244, 244, 244);
  position: absolute;
  left: 50%;
  bottom: 8%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.844);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.405);
}

@media (min-width: 700px) {
  .section-btn {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    letter-spacing: 0.7px;
  }
}

.hoveron .section-btn:hover {
  background-color: rgba(22, 22, 22, 0.59);
  color: white;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.193);
}

.section-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.section .section-subtitle {
  margin: 1rem;
}

@media (min-width: 700px) {
  .section .section-subtitle {
    font-size: min(1rem, 5vh);
  }
}

/* INSTAGRAM-SECTION */
/* ----------------- */

.instagram-section {
  max-width: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto var(--section-margin-bottom);
  padding: 30px 0;
  background-color: rgb(240, 240, 240);
  overflow: hidden;
}

.instagram-section h5 {
  margin: 0 auto 25px;
  padding: 0 10vmin;
  max-width: 300px;
  box-sizing: content-box;
}

.insta-photos-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin: -1vw 0;

  overflow: hidden;
}

.insta-img {
  flex: 0 0 26.5vw;

  width: 26.5vw;
  height: 26.5vw;

  object-fit: cover;

  margin: 1vw;
}

/* SECTION ABOUT US */
/* -------- */

.section-about {
  display: none;
}

@media (min-width: 1000px) {
  .section-about {
    width: 100%;
    text-transform: none;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 0 3rem;
    margin-bottom: var(--section-margin-bottom);
  }
  .section-about img,
  .section-about-text-container {
    margin: 0 1rem;
  }
  .section-about img {
    flex: 0 0 55%;
    max-width: 55%;
    object-fit: cover;
  }
  .section-about-text-container {
    flex: 0 1 45%;
    max-width: ;
  }
  .section-about-text-container h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0 0.5rem;
    text-transform: uppercase;
  }

  .section-about-text-container p {
    font-size: min(1rem, 2.3vmin);
    margin: min(1.3rem, 2vmin) 0;
  }
}

/* SUBSCRIPTION */
/* ------------ */

.subscription-block {
  text-align: center;
  background-color: #e5f0f6;
  padding: 1.9rem min(2rem, 5vw) 1rem;
  margin-bottom: 2rem;
}

.subscription-block.subscribed {
  padding-bottom: 1.9rem;
}

.subscription-block.subscribed p {
  margin-top: 0;
}

.subscription-block.subscribed .btn-link {
  background-color: rgba(255, 255, 255, 0.611);
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  margin: 1rem 0 0;
}

.subscription-block form * {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  /* width: min(270px, 100%); */

  text-align: center;
}

.subscription-block h1 {
  display: block;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  margin-bottom: 0.7rem;
}

.subscription-block .subscription-block-text {
  letter-spacing: 0.5px;
  display: none;
  margin: 0.8rem auto;
  line-height: 1.2rem;
  font-size: 0.67rem;
  text-transform: uppercase;
  text-align: center;
}
.subscription-block input {
  height: 51px;
  display: block;
  margin: 12px auto 0;
  box-sizing: border-box;
  text-transform: none;
}

.subscription-block .error-label {
  display: block;
  text-align: center;
  background-color: rgb(255, 241, 241);
  color: rgb(223, 0, 0);
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  padding: 0.5rem 0;
}

.subscription-block .btn-subscribe {
  display: block;
  background-color: #2d2d2d;
  color: #f4f4f4;
  border: none;
  cursor: pointer;

  margin: 5px auto 5px;
  height: 51px;

  text-transform: none;
}

.subscription-block div {
  margin: 0 auto;

  display: block;
  align-items: center;
}

.subscription-block label {
  flex: 0 0 max-content;
  display: inline;
  font-size: 0.65rem;
  text-align: left;
  text-transform: none;
}
.subscription-block .checkbox {
  width: 1rem;
  height: 1rem;
  margin: 0;
  margin-right: 7px;
  display: inline;
  vertical-align: middle;
}

@media (min-width: 1000px) {
  .subscription-block {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
  }
  .subscription-block form,
  .subscription-block h1,
  .subscription-block div {
    max-width: unset;
  }
  .subscription-block h1 {
    width: auto;
    font-size: 2.2rem;
    font-weight: 600;
  }
  .subscription-block .subscription-block-text {
    display: block;
    width: auto;
    max-width: 1000px;
    font-size: 0.85rem;
  }
  .subscription-block input,
  .subscription-block button {
    display: inline-block;
    margin: 0.5rem 0.7rem;
  }
  .subscription-block label {
    font-size: 0.8rem;
    text-align: left;
    width: auto;
  }
  .subscription-block .checkbox {
    flex: 0 0 1.2rem;
  }
}

/* FOOTER */
/* ------ */

.app-footer {
  font-size: min(0.8rem, 4vmin);
  margin-top: 1.3rem;
  margin-bottom: 0.7rem;
  height: auto;

  background-color: #f5f5f5;
  border-top: 1px solid rgb(169, 169, 169);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-footer * {
  text-align: center;
  margin-top: 0;
}

.app-footer-nav,
.app-footer-info {
  margin: 1rem 1rem;
}

.app-footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;
}

.app-footer-nav a {
  margin: 0.85rem 1rem;
  white-space: nowrap;
}

.app-footer hr {
  width: 55%;
  border-top: 1px solid black;
}

#app-footer-long-text {
  max-width: 550px;
  display: none;
}

#app-footer-email {
  font-size: min(1.1rem, 5.3vmin);
  font-weight: 700;
  margin-bottom: 1.6rem;
}

#app-footer-follow-us {
  font-size: min(1.2rem, 5.4vmin);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.app-footer-icon {
  line-height: 0;
  vertical-align: bottom;
  width: 1.1rem;
  height: 1.1rem;
  margin: 0 0.35rem;
}

@media (min-width: 700px) {
  .app-footer {
    margin-bottom: 0;
  }

  .app-footer-nav,
  .app-footer-info {
    margin: 1.5rem 1rem;
  }

  .app-footer-nav {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .app-footer-nav a {
    margin: 0.6rem 1rem;
  }

  .app-footer hr {
    width: 670px;
  }

  #app-footer-long-text {
    display: block;
  }
}

@media (min-width: 760px) and (min-height: 500px) {
  .top-navbar {
    height: 45px;
    border: none;
  }
  .mobile-logo {
    display: none;
  }
  .main-logo {
    display: block;
    width: 30%;
    max-width: 270px;
    margin: 17px auto 28px;
    cursor: pointer;
  }
  .banner-text {
    font-size: 2.2em;
  }

  .instagram-section h5 {
    font-size: 1.2rem;
    margin: 0 auto 33px;
    padding: 0 25%;
  }
}

/*  */
/* TEST SCROLLBAR */
/*  */

::-webkit-scrollbar {
  width: 9px;
  max-width: 1.2vw;
  min-width: max(4px, 0.6vw);

  background: rgb(243, 243, 243);
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  border: rgb(243, 243, 243) solid 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgb(160, 160, 160);
  border: rgb(243, 243, 243) solid min(2px, 0.3vw);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(128, 128, 128);
}
::-webkit-scrollbar-thumb:active {
  background: rgb(85, 85, 85);
}

.mobile-menu::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(121, 28, 28, 0.7);
}

::-webkit-scrollbar-thumb:window-inactive {
  border-radius: 4px;
  background: rgba(114, 114, 114, 0.5);
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
  border-style: solid;

  height: 0;
} /* end TEST SCROLLBAR */

/* bootstrap */
/* label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

textarea {
  resize: vertical;
  overflow: auto;
}

input:disabled {
  background: #ddd;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;

  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  margin-bottom: 0;
}

.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;

  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.custom-control-label::before,
.custom-file-label,
.custom-select {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;

  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  margin: 0;
  opacity: 0;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: 'Browse';
}
.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(1.5em + 0.75rem);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  content: 'Browse';
  background-color: #e9ecef;
  border-left: inherit;
  border-radius: 0 0.25rem 0.25rem 0;
}

button {
  -webkit-appearance: button;
}

button,
select {
  text-transform: none;
}

[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

[type='button'],
[type='reset'],
[type='submit'],
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

.btn {
  display: inline-block;

  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.form-check {
  position: relative;
  display: inline-block;
  padding-left: 1.25rem;
  margin-right: 1rem;
}

.form-check-input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -1.25rem;
}

.form-check-label {
  margin-bottom: 0;
}

textarea.form-control {
  height: auto;
}
*/
/* END bootstrap */
